.units {
  .ages {
    margin-bottom: 2rem;
    .ages-box {
      border: 1px solid #c8c8c8;
      padding: 3px 10px;
      cursor: pointer;
      &.active {
        background-color: #c8c8c8;
      }
    }
  }

  .costs {
    .costs-box {
      label {
        width: 40px;
        margin-left: 15px;
        margin-right: 70px;
      }
      &:nth-child(2) {
        margin: 10px 0;
      }
      #wood:not(:checked) + label + ng5-slider, #food:not(:checked) + label + ng5-slider, #gold:not(:checked) + label + ng5-slider {
        opacity: .25;
        .ng5-slider-pointer-min {
          cursor: move;
          color: red;
        }
      }
    }
  }

  ng5-slider {
    width: 150px;
  }

  .filter-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  table tbody tr {
    &:hover {
      cursor: pointer;
      background-color: #c8c8c8;
    }
  }
}
